<?xml version="1.0" encoding="utf-8"?>

<Settings>
	<!-- Appearance Settings -->
	<add key="AppTitle" value="RMF-Server"/>
	
	<!-- Connection Settings -->
	<add key="IPAddress" value="127.0.0.1"/>
	<add key="Port" value="8000"/>
	<add key="MaxConnections" value="20"/>
	<add key="MaxPacketMemoryLimitKB" value="2048"/>
	<add key="PacketsListenDelayMsecs" value="150"/>
	
	<!-- Streaming Settings -->
	<add key="ScreenshotQualityPercentage" value="60"/>
	<add key="DesktopSendingIntervalMsecs" value="150"/>
	
	<!-- Logging Settings -->
	<add key="InlineSuggestionsEnabled" value="true"/>
	<add key="LoggingHandlerDelayMsecs" value="100"/>
	<add key="InputListenerDelayMsecs" value="10"/>
</Settings>