<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<!-- This file contains all the settings for the RMF-Server. It is read at startup and can be modified to change the behavior of the server -->
	
	<!-- Appearance Settings -->
	<add key="AppTitle" value="RMF-Server"/>
	<add key="WindowTitle" value="RMF-Streamer"/>
	<add key="WindowTheme" value="System"/>
	<add key="WindowPriority" value="2"/>
	<add key="WindowWidth" value="960"/>
	<add key="WindowHeight" value="540"/>
	
	<!-- Connection Settings -->
	<add key="IPAddress" value="127.0.0.1"/>
	<add key="Port" value="8000"/>
	<add key="MaxConnections" value="20"/>
	<add key="MinPacketBufferKB" value="12"/>
	<add key="MaxPacketLengthKB" value="768"/>
	<add key="MaxPacketRate" value="50"/>
	<add key="ReceiveTimeoutSecs" value="240"/>
	
	<!-- Controller Settings -->
	<add key="EnableWelcomeHandshake" value="true"/>
	<add key="EnableClientHeartbeat" value="true"/>
	<add key="ClientHeartbeatIntervalSecs" value="10"/>
	
	<!-- Channel Settings -->
	<add key="ChannelPacketsCapacity" value="50"/>
	
	<!-- Streaming Settings -->
	<add key="ScreenshotFrameFormat" value="3"/>
	<add key="ScreenshotQualityPercentage" value="90"/>
	<add key="StreamingFrameFormat" value="1"/>
	<add key="StreamingQualityPercentage" value="50"/>
	<add key="StreamingFrameUpdateRate" value="300"/>
	<add key="DesktopSendingIntervalMsecs" value="16"/>
	<add key="EnableStreamingStatsOverlay" value="true"/>

	<!-- Commands Settings -->
	<add key="InlineCommandDefautSign" value="/"/>
	<add key="InlineSuggestionsEnabled" value="true"/>
	<add key="InlineSuggestionsMinChars" value="2"/>

	<!-- Logging Settings -->
	<add key="LoggingHistoryLength" value="100"/>
	<add key="LoggingHandlerDelayMsecs" value="100"/>
	<add key="InputListenerDelayMsecs" value="10"/>
</Settings>