<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<!-- Appearance Settings -->
	<add key="AppTitle" value="RMF-Client"/>

	<!-- Connection Settings -->
	<add key="IPAddress" value="127.0.0.1"/>
	<add key="Port" value="8000"/>
	<add key="ConnectionRequestTimeoutSecs" value="10"/>
	<add key="MaxPacketLengthKB" value="100"/>
</Settings>
